<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	<head>
	    <meta charset="UTF-8">
	    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
	    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/main/favicon.ico}" />    
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous"/>
	    <link rel="stylesheet" href="./css/star-rating-svg.css">
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
	    <script th:src="@{/js/my/jquery.star-rating-svg.min.js}"></script>
	    <script th:src="@{/js/my/popup.js}"></script>
	    <link rel="stylesheet" th:href="@{/css/my/init.css}">
	    <link rel="stylesheet" th:href="@{/css/my/headfoot.css}">
	    <link rel="stylesheet" th:href="@{/css/my/style.css}">
	
	</head>
		<body>
	    <div id="wrapper">
	        <header>
	            <div class="top">
                <div>
               		<!-- 비로그인 사용자가 보이는 블럭 -->
                	<p sec:authorize="isAnonymous()">
	                    <a th:href="@{/member/login}">로그인</a>
	                    <a th:href="@{/member/join}">회원가입</a>
	                    <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
	            	</p>
	            	<!-- 권한이 1인(일반회원) 사용자가 보이는 블럭 -->
                	<p sec:authorize="hasRole('1')">
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a href="#">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
                	<!-- 권한이 3인(관리자) 사람만 보이는 블럭 -->
                	<p sec:authorize="hasRole('3')">
                		<a th:href="@{/admin/index}" class="logout">관리자</a>
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a href="#">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
	            </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/}"><img th:src="@{/images/main/header_logo.png}" alt="로고"></a>
                    <form action="#">
                        <input type="text" name="keyword">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>                
                </div>
                
            </div>
	        </header>
	        <!-- 나의 쇼핑정보 -->
	       	<main>
	        <div id="my">
	            <nav>
	                <div>
	                    <a th:href="@{/my/home}"><img th:src="@{/images/my/my_logo.jpg}" alt="나의쇼핑정보"></a>
	
	                    <ol>
	                        <li><a th:href="@{/my/ordered}">주문·배송<span class="delivery">1</span></a></li>
	                        <li><a th:href="@{/my/coupon}">할인쿠폰<span class="coupon">1</span></a></li>
	                        <li><a th:href="@{/my/point}">포인트<span class="point">1,000</span></a></li>
	                        <li><a th:href="@{/my/qna}">문의내역<span class="qna">1</span></a></li>
	                    </ol>
	
	                </div>
	            </nav>