<!--
날짜 : 2023/02/13
이름 : 김훈
내용 : Kmarket2 HTML my -> coupon
-->
<th:block th:insert="~{@{my/_header.html}}"/>
<link rel="stylesheet" th:href="@{/css/my/coupon.css}">
            <!-- aside -->
            <div class="coupon">
                <th:block th:insert="~{@{my/_cate.html}}"/>
                <!-- 배너 광고 -->
                <section>
                    <a href="#"><img src="./img/my_banner2.png" alt="스마일 카드" class="banner"></a>
                    
                    <!-- 쿠폰 -->
                    <article>
                        <h3>쿠폰</h3>
                        <p>고객님께서 보유하고 있는 할인쿠폰을 확인하세요! 상품구매 시 더욱 저렴하게 구매할 수 있습니다.</p>
                        <div class="bg">
                            <dl>
                                <dt>· 나의 보유쿠폰</dt>
                                <dd>
                                    <strong>2</strong>
                                    <span>장</span>
                                </dd>
                            </dl>
                            </div>

                        <table>
                            <tr>
                                <th>쿠폰명</th>
                                <th>할인금액</th>
                                <th>적용기준/제한조건</th>               
                                <th>유효기간</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td class="tit">1만원 할인 중복쿠폰</td>
                                <td class="discount"><span>10,000</span>원</td>
                                <td class="condition"><span>10,100</span>원 이상 구매시</td>
                                <td class="expire">~12/29</td>
                                <td class="status">사용가능</td>
                            </tr>
                            <tr>
                                <td class="tit">회원가입 축하 5천원 할인쿠폰</td>
                                <td class="discount"><span>5,000</span>원</td>
                                <td class="condition"><span>5,100</span>원 이상 구매시</td>
                                <td class="expire">~12/29</td>
                                <td class="status">사용가능</td>
                            </tr>
                        </table>
                        <ul class="info">
                            <li>순금/골드바/돌반지/상품권 등 환금성 카테고리 및 중고상품 및 일부 프로모션 상품에는 쿠폰사용이 제한됩니다.</li>
                            <li>쿠폰 적용 가능한 금액기준은 판매자 상품별할인과 G마켓 추가할인이 모두 포함된 할인적용가입니다.</li>
                            <li>중복쿠폰은 판매자 할인, G마켓 할인과 중복 적용 가능하며 하나의 상품당 한장의 중복쿠폰만 사용 가능합니다.</li>
                            <li>항공 할인은 항공권 전용 할인으로 결제시점에 할인 혜택을 받을 수 있습니다.</li>
                            <li>항공권 예약취소 또는 환불시 적용했던 항공할인은 id당 1회 한하여 다시 발급됩니다.</li>
                        </ul>                        
                    </article>                  
                </section>
            </div>
        </div>   
<th:block th:insert="~{@{_footer.html}}"/>