<!--
날짜 : 2023/02/13
이름 : 김훈
내용 : Kmarket2 HTML my -> info
-->
<th:block th:insert="~{@{my/_header.html}}"/>
<link rel="stylesheet" th:href="@{/css/my/info.css}">
            <!-- aside -->
            <div class="info">
                <th:block th:insert="~{@{my/_cate.html}}"/>
                <!-- 배너 광고 -->
                <section>
                    <a href="#"><img th:src="@{/images/my/my_banner2.png}" alt="스마일 카드" class="banner"></a>
                    
                    <!-- 나의설정 -->
                    <article>
                        <h3>회원정보 설정</h3>
                        <table>
                            <tr>
                                <td>사용자 ID</td>
                                <td>hell**</td>
                            </tr>
                            <tr>
                                <td>비밀번호</td>
                                <td><button id="btnChangePass">비밀번호 수정</button></td>
                            </tr>  
                            <tr>
                               <td>이름</td>
                               <td>김*름</td>
                            </tr>
                            <tr>
                                <td>생년월일</td>
                                <td>2004년 05월 29일</td>
                             </tr>
                            <tr>
                                <tr>
                                    <td>E-mail</td>
                                    <td>
                                        <input type="text" name="email1" value="hello">@
                                        <input type="text" name="email2" value="gmail.com">
                                        <select>
                                            <option>직접입력</option>
                                            <option>gmail.com</option>
                                            <option>daum.net</option>
                                            <option>naver.com</option>
                                            <option>nate.com</option>
                                            <option>outlook.com</option>
                                        </select>
                                        <button id="btnChangeEmail">수정하기</button>
                                    </td>
                            </tr>  
                            <tr>
                                <td>휴대폰</td>
                                <td>
                                    <p class="hp">
                                        <input type="text" name="hp1" value="010">-
                                        <input type="text" name="hp2" value="1234">-
                                        <input type="text" name="hp3" value="9876">
                                        <button id="btnChangeHp">수정하기</button>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>주소</td>
                                <td>
                                        <input type="text" name="zip">
                                        <button id="btnFindZip">주소검색</button>
                                        <p class="address">
                                            <input type="text" name="addr1"/>
                                            <input type="text" name="addr2"/>
                                        </p>
                                </td>
                            </tr>
                            <tr>
                                <td>회원탈퇴</td>
                                <td>
                                    <button id="btnWithdraw">탈퇴하기</button>
                                </td>
                            </tr>
                        </table>
                        <button id="btnInfoChange">수정하기</button>     
                    </article>                  
                </section>
            </div>
        </div>   
<th:block th:insert="~{@{_footer.html}}"/>