<!--
날짜 : 2023/02/13
이름 : 김훈
내용 : Kmarket2 HTML my -> qna
-->
<th:block th:insert="~{@{my/_header.html}}"/>
<link rel="stylesheet" th:href="@{/css/my/qna.css}">
            <!-- aside -->
            <div class="qna">
                <th:block th:insert="~{@{my/_cate.html}}"/>
                <!-- 배너 광고 -->
                <section>
                    <a href="#"><img src="./img/my_banner2.png" alt="스마일 카드" class="banner"></a>
                    
                    <!-- 문의하기 -->
                    <article>
                        <h3>문의하기</h3>
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>문의채널</th>
                                <th>문의유형</th>                                
                                <th>제목</th>
                                <th>작성일</th>
                                <th>상태</th>
                            </tr>
                            <tr>
                                <td class="no">5</td>
                                <td class="channel">고객센터</td>
                                <td class="type">주문/결제</td>                                
                                <td class="tit"><a href="#">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</a></td>
                                <td class="date">2024-12-12</td>
                                <td class="status"><span class="notAnswerYet">검토중</span></td>
                            </tr>  
                            <tr>
                                <td class="no">4</td>
                                <td class="channel">고객센터</td>
                                <td class="type">주문/결제</td>                                
                                <td class="tit"><a href="#">신용카드 결제 중 오류가 난 경우 어떻게 하나요?</a></td>
                                <td class="date">2024-12-12</td>
                                <td class="status"><span class="answered">답변완료</span></td>
                            </tr>  
                            <tr>
                                <td class="no">3</td>
                                <td class="channel">판매자게시판</td>
                                <td class="type">배송</td>                                
                                <td class="tit">
                                    <ul>
                                        <li class="prodName"><a href="#">상품명</a></li>
                                        <li class="question"><a href="#">배송기간이 보통 얼마나 걸리나요?</a></li>
                                    </ul>
                                </td>
                                <td class="date">2024-12-12</td>
                                <td class="status"><span class="answered">답변완료</span></td>
                            </tr>  
                            <tr>
                                <td class="no">2</td>
                                <td class="channel">판매자게시판</td>
                                <td class="type">상품</td>                                
                                <td class="tit">
                                    <ul>
                                        <li class="prodName"><a href="#">상품명</a></li>
                                        <li class="question"><a href="#">흰색 상품은 없나요?</a></li>
                                    </ul>
                                </td>
                                <td class="date">2024-12-12</td>
                                <td class="status"><span class="answered">답변완료</span></td>
                            </tr>  
                            <tr>
                                <td class="no">1</td>
                                <td class="channel">판매자게시판</td>
                                <td class="type">반품</td>                                
                                <td class="tit">
                                    <ul>
                                        <li class="prodName"><a href="#">상품명</a></li>
                                        <li class="question"><a href="#">사이즈가 너무 작아요. 반품 요청합니다.</a></li>
                                    </ul>
                                </td>
                                <td class="date">2024-12-12</td>
                                <td class="status"><span class="answered">답변완료</span></td>
                            </tr>  
                        </table>
                        <p class="page">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </p>                
                    </article>                  
                </section>
            </div>
        </div>   
<th:block th:insert="~{@{_footer.html}}"/>