<!--
날짜 : 2023/02/13
이름 : 김훈
내용 : Kmarket2 HTML my -> review
-->
<th:block th:insert="~{@{my/_header.html}}"/>
<link rel="stylesheet" th:href="@{/css/my/review.css}">
            <!-- aside -->
            <div class="review">
                <th:block th:insert="~{@{my/_cate.html}}"/>
                <!-- 배너 광고 -->
                <section>
                    <a href="#"><img src="./img/my_banner2.png" alt="스마일 카드" class="banner"></a>
                    
                    <!-- 나의 리뷰 -->
                    <article>
                        <h3>나의리뷰</h3>
                        <table>
                            <tr>
                                <th>번호</th>
                                <th>상품명</th>
                                <th>내용</th>                                
                                <th>평점</th>
                                <th>작성일</th>
                            </tr>
                            <tr>
                                <td class="no">5</td>
                                <td class="prodName"><a href="#">상품명</a></td>
                                <td class="content">배송이 빠릅니다. 잘 사용하겠습니다.</td>                                
                                <td class="score"><span class="rating star1">평점</span></td>
                                <td class="date">2024-12-12</td>
                            </tr>
                            <tr>
                                <td class="no">4</td>
                                <td class="prodName"><a href="#">상품명</a></td>
                                <td class="content">배송이 빠릅니다. 잘 사용하겠습니다.</td>                                
                                <td class="score"><span class="rating star2">평점</span></td>
                                <td class="date">2024-12-12</td>
                            </tr>
                            <tr>
                                <td class="no">3</td>
                                <td class="prodName"><a href="#">상품명</a></td>
                                <td class="content">배송이 빠릅니다. 잘 사용하겠습니다.</td>                                
                                <td class="score"><span class="rating star3">평점</span></td>
                                <td class="date">2024-12-12</td>
                            </tr>
                            <tr>
                                <td class="no">2</td>
                                <td class="prodName"><a href="#">상품명</a></td>
                                <td class="content">배송이 빠릅니다. 잘 사용하겠습니다.</td>                                
                                <td class="score"><span class="rating star4">평점</span></td>
                                <td class="date">2024-12-12</td>
                            </tr>
                            <tr>
                                <td class="no">1</td>
                                <td class="prodName"><a href="#">상품명</a></td>
                                <td class="content">배송이 빠릅니다. 잘 사용하겠습니다.</td>                                
                                <td class="score"><span class="rating star5">평점</span></td>
                                <td class="date">2024-12-12</td>
                            </tr>
                        </table>
                        <p class="page">
                            <a href="#" class="prev">이전</a>
                            <a href="#" class="num on">1</a>
                            <a href="#" class="num">2</a>
                            <a href="#" class="num">3</a>
                            <a href="#" class="next">다음</a>
                        </p>                
                    </article>                  
                </section>
            </div>
        </div>   
<th:block th:insert="~{@{_footer.html}}"/>