<!--
날짜 : 2023/02/09
이름 : 강중현
내용 : Kmarket2 SpringBoot member header
-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">    
    <title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/images/main/favicon.ico}">
    <link rel="stylesheet" th:href="@{/css/main/init.css}">
    <link rel="stylesheet" th:href="@{/css/main/headfoot.css}">
    <link rel="stylesheet" th:href="@{/css/member/main.css}">
    <script type="text/javascript" th:src="@{/js/member/register.js}"></script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
               		<!-- 비로그인 사용자가 보이는 블럭 -->
                	<p sec:authorize="isAnonymous()">
	                    <a th:href="@{/member/login}">로그인</a>
	                    <a th:href="@{/member/join}">회원가입</a>
	                    <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
	            	</p>
	            	<!-- 권한이 1인(일반회원) 사용자가 보이는 블럭 -->
                	<p sec:authorize="hasRole('1')">
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a href="#">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
                	<!-- 권한이 3인(관리자) 사람만 보이는 블럭 -->
                	<p sec:authorize="hasRole('3')">
                		<a th:href="@{/admin/index}" class="logout">관리자</a>
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a href="#">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
	            </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/}"><img th:src="@{/images/member/header_logo.png}" alt="로고"/></a>
                </div>
            </div>
        </header>