<!--
날짜 : 2023/02/09
이름 : 강중현
내용 : Kmarket2 SpringBoot member terms
-->
<th:block th:insert="~{@{member/_header.html}}"/>
<script src="/member/member.js"></script>
        <main id="member">
            <div class="signup">
				<nav>
					<h1>약관동의</h1>
				</nav>
				<!-- 개인/사업자 필수동의 -->
				<section>	
					<!-- 일반 -->
					<h3><span class="essential">(필수)</span>케이마켓 이용약관</h3>
					<textarea class="terms" readonly>[[${termsVO.terms}]]</textarea>
					<label><input type="checkbox" name="agree1" />동의합니다.</label>
					<!-- 판매자 -->
					<h3><span class="essential">(필수)</span>케이마켓 이용약관</h3>
					<textarea class="tax" readonly>[[${termsVO.tax}]]</textarea>
					<label><input type="checkbox" name="agree2" />동의합니다.</label>
					
					<h3><span class="essential">(필수)</span>전자금융거래 이용약관</h3>
					<textarea class="financial" readonly>[[${termsVO.finance}]]</textarea>
					<label><input type="checkbox" name="agree3" />동의합니다.</label>

					<h3><span class="essential">(필수)</span>개인정보 수집동의</h3>
					<textarea class="privacy" readonly>[[${termsVO.privacy}]]</textarea>
					<label><input type="checkbox" name="agree4" />동의합니다.</label>
				</section>

				<!-- 개인 구매회원 선택동의 -->
				<section>
					<h3><span class="optional">(선택)</span>위치정보 이용약관</h3>
					<textarea class="location" readonly>[[${termsVO.location}]]</textarea>
					<label><input type="checkbox" name="agree5" />동의합니다.</label>
				</section>

				<div>
					<input type="button" class="agree" value="동의하기"/>
				</div>
            </div>
        </main>        
<th:block th:insert="~{@{member/_footer.html}}"/>