<!--
날짜 : 2023/02/08~9
이름 : 김동근
내용 : Kmarket2 SpringBoot product list
-->
<th:block th:insert="~{@{_header.html}}"/>

        <main id="product">            
            <aside>
                <th:block th:insert="~{@{_cate.html}}"/>
            </aside>
            
            <section class="list">              
              <!-- 제목, 페이지 네비게이션 -->
              <nav>
                <h1>상품목록</h1>
                <p>HOME &gt; <span>[[${navCate?.c1Name}]]</span> &gt; <strong>[[${navCate?.c2Name}]]</strong></p>
              </nav>

              <!-- 정렬 메뉴 -->
              <ul class="sort">
                  <li><a th:href="@{/product/list(option='sold')}" th:classappend="${option == 'sold'} ? 'on' : ''">판매많은순</a></li>
                  <li><a th:href="@{/product/list(option='lowprice')}" th:classappend="${option == 'lowprice'} ? 'on' : ''">낮은가격순</a></li>
                  <li><a th:href="@{/product/list(option='price')}" th:classappend="${option == 'price'} ? 'on' : ''">높은가격순</a></li>
                  <li><a th:href="@{/product/list(option='score')}" th:classappend="${option == 'score'} ? 'on' : ''">평점높은순</a></li>
                  <li><a th:href="@{/product/list(option='review')}" th:classappend="${option == 'review'} ? 'on' : ''">후기많은순</a></li>
                  <li><a th:href="@{/product/list(option='rdate')}" th:classappend="${option == 'rdate'} ? 'on' : ''">최근등록순</a></li>
              </ul>

              <!-- 상품목록 -->              
              <table border="0">                  
                <tbody>
                <tr th:each="product:${products}">
                  <td><a th:href="@{/product/view(no=${product.prodNo})}" class="thumb"><img th:src="@{/file/productImg/}+${product.thumb1}" alt="상품이미지"></a></td>
                  <td>
                    <h3>
                    	<a th:href="@{/product/view(no=${product.prodNo})}" class="name">[[${product.prodName}]]</a>
                    </h3>
                    <span class="desc">[[${product.descript}]]</span>
                  </td>
                  <td>
                    <ul>
                      <li>
                      	<ins class="dis-price" th:text="${#numbers.formatInteger(product.getDisPrice(), 0, 'COMMA')}"></ins>
                      </li>
                      <li>
                        <del class="org-price" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></del>
                        <span class="discount">[[${product.discount}]]%</span>
                      </li>
                      <li><span class="free" th:if="${product.delivery == 0}">무료배송</span></li>
                      <li><span class="delivery" th:unless="${product.delivery == 0}" th:text="${#numbers.formatInteger(product.delivery, 0, 'COMMA')}"></span></li>
                    </ul>
                  </td>
                  <td>
                    <h4 class="seller"><i class="fas fa-home" aria-hidden="true"></i>&nbsp;[[${product.seller}]]</h4>
                    <h5 class="badge power" th:if="${product.level} == 1">판매자등급</h5>
                    <h5 class="badge great" th:if="${product.level} == 2">판매자등급</h5>
                    <h5 class="badge great power" th:if="${product.level} == 3">판매자등급</h5>
                    <h6 class="rating star2">상품평</h6>
                  </td>
                </tr>
                
              </tbody></table>            

              <!-- 상품목록 페이지번호 -->
              <div class="paging">
                <span class="prev">
                  <a href="#">&lt;&nbsp;이전</a>
                </span>
                <span class="num">
                  <a href="#" class="on">1</a>
                  <a href="#">2</a>
                  <a href="#">3</a>
                  <a href="#">4</a>
                  <a href="#">5</a>
                  <a href="#">6</a>
                  <a href="#">7</a>
                </span>
                <span class="next">
                  <a href="#">다음&nbsp;&gt;</a>
                </span>
              </div>

            </section>
        </main>
<th:block th:insert="~{@{_footer.html}}"/>