<!--
날짜 : 2023/02/10~12
이름 : 김동근
내용 : Kmarket2 SpringBoot product view
-->
<th:block th:insert="~{@{_header.html}}"/>
<script type="text/javascript" th:src="@{/js/product/view.js}"></script>
<link rel="stylesheet" th:href="@{/css/product/product_view.css}">
        <main id="product">            
            <aside>
                <th:block th:insert="~{@{_cate.html}}"/>
            </aside>

            <!-- 상품 상세페이지 시작 -->
            <section class="view">

                <!-- 제목, 페이지 네비게이션 -->
                <nav>
                    <h1>상품보기</h1>
                    <p>
                        HOME &gt; <span>패션·의류·뷰티</span> &gt; <strong>남성의류</strong>
                    </p>
                </nav>

                <!-- 상품 전체 정보 내용 -->                
                <article class="info">
                    <div class="image">
                        <img id="thumb1" th:src="@{/file/productImg/}+${product.thumb1}" alt="상품이미지">
                    </div>
                    <div class="summary">
                        <nav>
                            <h1>[[${product.company}]]</h1>
                            <h2>상품번호&nbsp;:&nbsp;<span id="prodNo" th:text="|${product.cate1}${product.cate2}${#numbers.formatInteger(product.prodNo, 6)}|"></span></h2>
                        </nav>                        
                        <nav>
                            <h3 id="prodName">[[${product.prodName}]]</h3>
                            <p id="descript">[[${product.descript}]]</p>
                            <h5 class="rating star4"><a href="#">상품평보기</a></h5>
                        </nav>
                        <nav th:if="${product.discount == 0}">
                            <div class="org_price">
                                <del id="price" class="noDis" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></del>
                                <span id="discount" class="discount" style="display:none;">[[${product.discount}]]</span>
                            </div>
                        </nav>
                        <nav th:unless="${product.discount == 0}">
                            <div class="org_price" >
                                <del id="price" th:text="${#numbers.formatInteger(product.price, 0, 'COMMA')}"></del>
                                <span id="discount" class="discount">[[${product.discount}]]</span>
                            </div>
                            <div class="dis_price">
                                <ins id="disPrice" th:text="${#numbers.formatInteger(product.getDisPrice(), 0, 'COMMA')}"></ins>
                            </div>
                        </nav>
                        <nav>
                            <span id="delivery" class="free" th:if="${product.delivery == 0}">무료배송</span>
                      		<span id="delivery" class="delivery" th:unless="${product.delivery == 0}" th:text="${#numbers.formatInteger(product.delivery, 0, 'COMMA')}"></span>
                    
                            <span class="arrival">[[${product.getDeliDate()}]] 도착예정</span>
                            <span class="desc">본 상품은 국내배송만 가능합니다.</span>
                        </nav>
                        <nav>
                            <span class="card cardfree"><i>아이콘</i>무이자할부</span>&nbsp;&nbsp;
                            <span class="card cardadd"><i>아이콘</i>카드추가혜택</span>
                        </nav>
                        <nav>
                            <span class="origin">원산지-상세설명 참조</span>
                        </nav>
                        <img src="/Kmarket2/images/main/vip_plcc_banner.png" alt="100원만 결제해도 1만원 적립!" class="banner">
                        
                        <div class="count">
                            <button id="decrease">-</button>
                            <input type="text" name="num" id="count" value="1" readonly>
                            <button id="increase">+</button>
                        </div>
                        
                        <div class="total">
                            <span id="total" th:text="${#numbers.formatInteger(product.getDisPrice(), 0, 'COMMA')}"></span>
                            <em>총 상품금액</em>
                        </div>

                        <div class="button">
                            <input type="button" class="cart" value="장바구니">
                            <input type="button" class="order" value="구매하기">
                        </div>
                    </div>
                </article>

                <!-- 상품 정보 내용 -->
                <article class="detail">
                    <nav>
                        <h1>상품정보</h1>
                    </nav>
                    <!-- 상품상세페이지 이미지 -->
                    <img th:src="@{/file/productImg/}+${product.detail}" alt="상세페이지1">
                    <img th:src="@{/file/productImg/}+${product.thumb2}" alt="상세페이지2">
                    <img th:src="@{/file/productImg/}+${product.thumb3}" alt="상세페이지3">
                </article>

                <!-- 상품 정보 제공 고시 내용 -->
                <article class="notice">
                    <nav>
                        <h1>상품 정보 제공 고시</h1>
                        <p>[전자상거래에 관한 상품정보 제공에 관한 고시] 항목에 의거 등록된 정보입니다.</p>
                    </nav>
                    <table border="0">
                        <tbody><tr>
                            <td>상품번호</td>
                            <td th:text="|${product.cate1}${product.cate2}${#numbers.formatInteger(product.prodNo, 6)}|"></td>
                        </tr>
                        <tr>
                            <td>상품상태</td>
                            <td>[[${product.status}]]</td>
                        </tr>
                        <tr>
                            <td>부가세 면세여부</td>
                            <td>[[${product.duty}]]</td>
                        </tr>
                        <tr>
                            <td>영수증발행</td>
                            <td>[[${product.receipt}]]</td>
                        </tr>
                        <tr>
                            <td>사업자구분</td>
                            <td>[[${product.bizType}]]</td>
                        </tr>
                        <tr>
                            <td>브랜드</td>
                            <td>[[${product.company}]]</td>
                        </tr>
                        <tr>
                            <td>원산지</td>
                            <td>[[${product.origin}]]</td>
                        </tr>
                    </tbody></table>
                    <table border="0">
                        <tbody><tr>
                            <td>제품소재</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>색상</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>치수</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>제조자/수입국</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>제조국</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>취급시 주의사항</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>제조연월</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>품질보증기준</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>A/S 책임자와 전화번호</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                            <td>주문후 예상 배송기간</td>
                            <td>상세정보 직접입력</td>
                        </tr>
                        <tr>
                        <td colspan="2">구매, 교환, 반품, 배송, 설치 등과 관련하여 추가비용, 제한조건 등의 특이사항이 있는 경우</td>
                        </tr>
                    </tbody></table>
                    <p class="notice">
                        소비자가 전자상거래등에서 소비자 보호에 관한 법률 제 17조 제1항 또는 제3항에 따라 청약철회를 하고
                        동법 제 18조 제1항 에 따라 청약철회한 물품을 판매자에게 반환하였음에도 불구 하고 결제 대금의
                        환급이 3영업일을 넘게 지연된 경우, 소비자 는 전자상거래등에서 소비자보호에 관한 법률 제18조
                        제2항 및 동법 시행령 제21조 2에 따라 지연일수에 대하여 전상법 시행령으로 정하는 이율을 곱하여
                        산정한 지연이자(“지연배상금”)를 신청할 수 있습니다. 아울러, 교환∙반품∙보증 및 결제대금의
                        환급신청은 [나의쇼핑정보]에서 하실 수 있으며, 자세한 문의는 개별 판매자에게 연락하여 주시기 바랍니다.
                    </p>
                </article>
                
                <!-- 상품 리뷰 내용 -->
                <article class="review">
                    <nav>
                        <h1>상품리뷰</h1>
                    </nav>
                    <ul>
                        <li th:each="review:${reviews}">
                            <div>
                                <h5 class="rating star5" th:if="${review.rating >= 4.5}">상품평</h5>
                                <h5 class="rating star4" th:if="${4.5 > review.rating and review.rating >= 3.5}">상품평</h5>
                                <h5 class="rating star3" th:if="${3.5 > review.rating and review.rating >= 2.5}">상품평</h5>
                                <h5 class="rating star2" th:if="${2.5 > review.rating and review.rating >= 1.5}">상품평</h5>
                                <h5 class="rating star1" th:if="${1.5 > review.rating and review.rating >= 0.5}">상품평</h5>
                                <h5 class="rating star0" th:if="${review.rating < 0.5}">상품평</h5>
                                <span>seo******	[[${review.rdate}]]</span>
                            </div>
                            <h3>[[${product.prodName}]]</h3>
                            <p>[[${review.content}]]</p>
                        </li>
                    </ul>
                    <!-- 리뷰목록 페이지번호 -->
		              <div class="paging">
		                <span class="prev" th:if="${pager.groupStart > 1}">
		                  <a th:href="@{/product/view(no=${product.prodNo}, pg=${pager.groupStart-1})}">&lt;&nbsp;이전</a>
		                </span>
		                
		                <span th:each="num:${#numbers.sequence(pager.groupStart, pager.groupEnd)}">
		                  <a th:href="@{/product/view(no=${product.prodNo},pg=${num})}"
		               		 th:class="${num==pager.currentPage?'num current':'num'}">[[${num}]]</a>
		                </span>
		                
		                <span class="next" th:if="${pager.groupEnd < pager.totalPage}">
		                  <a th:href="@{/product/view(no=${product.prodNo}, pg=${pager.groupEnd+1})}">다음&nbsp;&gt;</a>
		                </span>
		              </div>

                </article>
                
            </section>
 
        </main>
<th:block th:insert="~{@{_footer.html}}"/>