<th:block th:insert="~{@{_header.html}}"/>
        <main id="termsPolicy">
            <aside>
                <th:block th:insert="~{@{_cate.html}}"/>
            </aside>
            
            <section class="buyer">
                <nav>
                  <h1>KMARKET 서비스 이용약관</h1>
                  <ul>
                    <li><a th:href="@{/termsPolicy/buyer}">구매회원 약관</a></li>
                    <li><a th:href="@{/termsPolicy/seller}">판매회원 약관</a></li>                    
                    <li><a th:href="@{/termsPolicy/finance}">전자금융거래 약관</a></li>
                    <li class="on"><a th:href="@{/termsPolicy/location}">위치정보이용 약관</a></li>                      
                    <li><a th:href="@{/termsPolicy/privacy}">개인정보수집 방침</a></li>
                  </ul>
                </nav>
                <article>
                  <h2>위치정보 이용약관</h2>
                  <p>
                    <span class="tit">제1조(목적)</span>
                    <span class="content" th:text="${terms}"></span>
                  </p>
                  <p>
                    <span class="tit">제2조(약관의 명시, 효력과 개정)</span>
                    <span class="content">
                      1. 회사는 이 약관의 내용을 회사의 상호, 영업소 소재지, 대표자의 성명, 사업자등록번호, 연락처(전화, 팩스, 전자우편주소 등)등과 함께 회원이 확인할 수 있도록 “K마켓” 초기 서비스화면 또는 연결화면에 게시합니다.<br>
                      2. 회사는 약관의규제에관한법률, 전자문서 및 전자거래기본법, 전자서명법, 정보통신망이용촉진및정보보호등에관한법률, 전자상거래등에서의소비자보호에관한법률, 전자금융거래법 등 관련법을 위배하지 않는 범위에서 본 약관을 개정할 수 있습니다.<br>
                      3. 회사가 약관을 개정할 경우에는 적용일자 및 개정사유를 명시하여 현행 약관과 함께 초기화면에 그 적용일자 14일 이전부터 적용일자 전일까지 공지합니다.다만, 변경 내용이 중대하거나 구매회원에게 불리한 경우에는 그 적용일자 30일 이전부터 적용일자 전일까지 공지하고 구매회원에게 개별 통지합니다.변경된 약관은 그 적용일자 이전으로 소급하여 적용되지 아니합니다.<br>
                    </span>
                  </p>                  
                  <p>
                    <span class="tit">제3조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제4조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제5조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제6조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제7조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제8조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제9조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                  <p>
                    <span class="tit">제10조</span>
                    <span class="content">약관 내용 별도 제공</span>
                  </p>
                </article>
            </section>

        </main>
<th:block th:insert="~{@{_footer.html}}"/>