<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width, user-scalable=no">
    <title>Kmarket Inc. 상상하는 모든것</title>
    <link rel="shortcut icon" type="image/x-icon" href="../img/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="./js/header.js"></script>
    <script>
        $(function() {        
            
            const swiper = new Swiper('.swiper', {
                // Optional parameters
                direction: 'vertical',
                loop: false,
                speed: 1000,

                // If we need pagination
                pagination: {
                    el: '.swiper-pagination',
                },

                // Navigation arrows
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },

                // And if we need scrollbar
                scrollbar: {
                    el: '.swiper-scrollbar',
                    draggable: true
                },
                mousewheel: {
                    invert: false,
                },
            });

            swiper.on('slideChange', function () {
                const slideIndex = swiper.realIndex;
                
                if(slideIndex == 0){
                    $('header').css('background', 'transparent');
                }else if(slideIndex == 3){
                    $('footer').slideDown(1000);
                }else{                    
                    $('header').css('background', 'white');
                    $('footer').slideUp(1000);
                }                
            })

        });
    </script>
</head>
<body>
    <div class="swiper">
        <header>
            <div>
                <a href="./index.html"><img src="./img/company_header_logo1.png" width="200" alt="로고"></a>
                <ul>
                    <li><a href="./introduce.html">회사소개</a></li>
                    <li><a href="./notice.html">전자공시</a></li>
                    <li><a href="./promote.html">홍보채널</a></li>
                    <li><a href="./manage.html">투명경영</a></li>
                </ul>
            </div>
        </header>