
/* header */
header {
    width: 100%;
    height: auto;
}

header > div {
    width: 100%;
    box-sizing: border-box;
}

header > .top {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
}

header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
}

header > .top > div > p > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
}
header > .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
}

header > .top > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
}

header > .logo {
    height: 115px;
    border-bottom: 1px solid #d0d0d0;
}
header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
}
header > .logo > div > form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
}
header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
}

header > .logo > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
}

header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
}
header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
}
header > .menu > div > ul:nth-child(1) {
    float: left;
}
header > .menu > div > ul:nth-child(2) {
    float: right;
}
header > .menu > div > ul > li {
    float: left;
}
header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
}
header > .menu > div > ul > li:last-child > a {
    border-right: 1px solid #e9e9e9;
} 

/* footer */
footer {
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}
footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}
footer > ul > li {
    display: inline-block;
    font-weight: bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}
footer > ul > li:first-child {
    border-left: 1px solid #d7d7d7;
}

footer > div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer p {
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color: #676767;
}
footer p:nth-of-type(2) {
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

footer p > strong {
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}