/* my - home */
#my > .home > section > article > .more {
    float: right;
    display: inline-block;
    width: 35px;
    height: 14px;
    margin-top: -10px;
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    background-position: 0 -279px;
    font-size: 0;
}

#my > .home > section > article > table {
    width: 100%;
    height: auto;
    border-top: 2px solid #444;
    margin-top: 6px;
    border-collapse: collapse;            
}
#my > .home > section > article > table * {
    font-family: 'Malgun Gothic';
    color: #444;
}

#my > .home > section > article > table tr {}
#my > .home > section > article > table th {
    padding: 6px;
    background-color: #a5a7a5;
    box-sizing: border-box;
    color: #fff;
}
#my > .home > section > article > table td {
    padding: 10px;            
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    overflow: hidden;
}
#my > .home > section > article > table td:first-child {border-left: none;}


#my > .home > section > article > table .thumb {
    float:left;
}
#my > .home > section > article > table ul {
    float:left;
    margin-left: 10px;
    margin-right: 10px;

}
#my > .home > section > article > table ul > li {
    margin: 4px 0;
}

#my > .home > section > article > table ul > li > a:hover {
    text-decoration: underline;
}

#my > .home > section > article > table .prodPrice {
    margin-top: 6px;
    font-family: 'Malgun Gothic';
    font-size: 16px;
    font-weight: bold;
    color: #222;
}
#my > .home > section > article > table .prodPrice::after {
    content: 'ì›';
    font-size: 12px;            
}
#my > .home > section > article > table .confirm > a {
    display: block;
    width: 90px;
    height: 19px;            
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    font-size: 0;            
}

#my > .home > section > article > table .receive {
    background-position: -369px -179px;
}
#my > .home > section > article > table .review {
    background-position: -369px -202px;
}        
#my > .home > section > article > table a.refund {
    margin-top: 2px;
    font-family: 'Malgun Gothic';
    font-size: 11px;
    color: #676767;
    text-indent: 5px;
    line-height: 19px;
    background-position: -500px -399px;
}
#my > .home > section > article > table a.exchange {
    margin-top: 2px;
    font-family: 'Malgun Gothic';
    font-size: 11px;
    color: #676767;
    text-indent: 5px;
    line-height: 19px;
    background-position: -500px -399px;
}

#my > .home > section > article > table .rating {
    display: block;
    width: 84px;
    height: 20px;
    font-size: 0px;
    background-image: url('/Kmarket2/images/my/my_rating_star.png');
    background-repeat: no-repeat;
    background-position: 36px 0px;    
}
#my > .home > section > article > table .rating.star1 {background-position: 0 -40px;}
#my > .home > section > article > table .rating.star2 {background-position: 0 -80px;}
#my > .home > section > article > table .rating.star3 {background-position: 0 -120px;}
#my > .home > section > article > table .rating.star4 {background-position: 0 -160px;}
#my > .home > section > article > table .rating.star5 {background-position: 0 -200px;}

#my > .home > section > article > table .notAnswerYet {color: #999;}
#my > .home > section > article > table .answered {color: #01a900;}

#my > .home > section > .myinfo * {
    font-family: 'Malgun Gothic';
}
#my > .home > section > .myinfo > h3 {
    width: 96px;
    height: 15px;
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    background-position: -144px -281px;
    font-size: 0;
}

#my > .home > section > .myinfo > div {
    width: 100%;
    height: 104px;
    background-color: #f5f5f5;
    border: 1px solid #e5e5e5;
    margin: 10px 0;
    overflow: hidden;
}

#my > .home > section > .myinfo > div > div {
    float: left;
    width: 33.33%;
    height: 100%;
    padding: 16px;
    border-right: 1px solid #eaeaea;
    border-left: 1px solid #fdfdfd;
    box-sizing: border-box;
}
#my > .home > section > .myinfo > div > div:first-child {border-left: none;}
#my > .home > section > .myinfo > div > div:last-child {border-right: none;}

#my > .home > section > .myinfo > div > div > span {
    display: inline-block;
    height: 11px;
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    font-size: 0;
}

#my > .home > section > .myinfo .address > span {
    width: 73px;
    background-position: -499px -179px;
}
#my > .home > section > .myinfo .email > span {
    width: 51px;
    background-position: -499px -202px;
}
#my > .home > section > .myinfo .hp > span {
    width: 76px;
    background-position: -499px -227px;
}

#my > .home > section > .myinfo > div > div > a {
    display: inline-block;
    width: 33px;
    height: 11px;
    margin-left: 10px;
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    background-position: -423px -822px;
    font-size: 0;
}

#my > .home > section > .myinfo > div > div > p {
    font-size: 11px;
    color: #999;
    margin-top: 16px;
    line-height: 18px;
}
