/* my - point */
#my > .point > section > article > .byDate {
    width: 100%;
    height: auto;
    margin-top: 16px;
    padding: 16px;
    background-color: #f7f7f7;
    border: 1px solid #c7c7c7;
    box-sizing: border-box;
    overflow: hidden;            
}
#my > .point > section > article > .byDate > * {
    float: left;
}

#my > .point > section > article > .byDate * {
    font-family: 'Malgun Gothic';
    color: #444;
}
#my > .point > section > article > .byDate > .tit {
    width: 52px;
    height: 11px;
    margin-right: 20px;
    margin-top: 6px;
    background: url('/Kmarket2/images/my/my_sprites.png') no-repeat 0px -227px;
    font-size: 0;
}

#my > .point > section > article > .byDate > ul {
    background-image: url('/Kmarket2/images/my/my_sprites.png');
    
}
#my > .point > section > article > .byDate > ul > li {
    float: left;
    width: 54px;
    height: 100%;            
    box-sizing: border-box;
}

#my > .point > section > article > .byDate > ul a {
    display: block;
    width: 54px;
    height: 27px;
    text-align: center;
    line-height: 27px;
}

#my > .point > section > article > .byDate > ul a:hover {
    background: url('/Kmarket2/images/my/my_sprites.png') no-repeat -377px -908px;
    color: rgb(255, 255, 255);
}
#my > .point > section > article > .byDate > ul a.on {
    background: url('/Kmarket2/images/my/my_sprites.png') no-repeat -377px -908px;
    color: rgb(255, 255, 255);
}
#my > .point > section > article > .byDate > ul a > em {
    font-weight: bold;
    color: #111;
}
#my > .point > section > article > .byDate > ul a:hover > em {color: #fff;}
#my > .point > section > article > .byDate > ul a.on > em {color: #fff;}

#my > .point > section > article > .byDate > .date_3ea {
    width: 165px;
    height: 29px;
    background-position: -485px -908px;
}
#my > .point > section > article > .byDate > .date_5ea {
    width: 273px;
    height: 29px;
    background-position: -377px -937px;
}        

#my > .point > section > article > .byDate > p {
    width: 190px;
    height: 29px;
    background: url('/Kmarket2/images/my/my_sprites.png') no-repeat -461px -879px;
    padding: 5px;
    box-sizing: border-box;
}
#my > .point > section > article > .byDate > p > span {
    display: inline-block;
    margin: 0 4px;
}
#my > .point > section > article > .byDate input[type=date] {
    width: 80px;
    border: none;
}

#my > .point > section > article > .byDate > .btnConfirm {
    width: 69px;
    height: 27px;
    border: none;
    font-size: 0;
    background: url('/Kmarket2/images/my/my_sprites.png') no-repeat -491px -80px;
}        

#my > .point > section > article > table {
    width: 100%;
    height: auto;
    border-top: 2px solid #444;
    margin-top: 6px;
    border-collapse: collapse;            
}
#my > .point > section > article > table * {
    font-family: 'Malgun Gothic';
    color: #444;
}

#my > .point > section > article > table th {
    padding: 6px;
    background-color: #a5a7a5;
    box-sizing: border-box;
    color: #fff;
}
#my > .point > section > article > table td {
    padding: 10px;            
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #aaa;
    box-sizing: border-box;
    overflow: hidden;
}
#my > .point > section > article > table td:first-child {border-left: none;}

#my > .point > section > article > table ul {
    float:left;
    margin-left: 10px;
    margin-right: 10px;

}
#my > .point > section > article > table ul > li {
    margin: 4px 0;
}        

#my > .point > section > article > .page {
    margin: 20px 0;
    text-align: center;
}

#my > .point > section > article > .page > a {
    display: inline-block;
    width: 19px;
    height: 19px;            
    box-sizing: border-box;
    vertical-align: top;
    color: #777;
}
#my > .point > section > article > .page > a.on {
    font-weight: bold;
    color: #1179ea;
}

#my > .point > section > article > .page > .prev {
    background: url('/Kmarket2/images/my/my_sprites2.png') no-repeat 0 -300px;
    font-size: 0;
}

#my > .point > section > article > .page > .next {
    background: url('/Kmarket2/images/my/my_sprites2.png') no-repeat -120px -300px;
    font-size: 0;
}
