<!--
날짜 : 2023/02/10
이름 : 최아영
내용 : Kmarket2 STS cs faq list
-->
<th:block th:insert="~{@{cs/_header.html}}"/>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/js/cs/cs.js}"></script>
<section id="cs">
  <div class="faq">
    <nav>
      <div>
        <p>홈<span>></span>자주묻는 질문</p>
      </div>
    </nav>
    <section class="list">
      <aside>
        <h2>자주묻는 질문</h2>
        <th:block th:each="vo1:${vo1}">
        <ul>
            <li th:classappend="${vo1.cate1} == ${cate1} ? 'on' : 'off'"><a th:href="@{/cs/faq/list(cate1=${vo1.cate1})}">[[${vo1.c1Name}]]</a></li>
        </ul>
      </aside>
      <article>              
        <nav>
          <th:block th:each="vo1:${vo1}">
            <th:block th:if="${vo1.cate1} == ${cate1}">
                <h1 th:text="${vo1.c1Name}"></h1>
            </th:block>
          </th:block>
          <h2>가장 자주 묻는 질문입니다.</h2>
        </nav>
       	  <div th:each="vo2: ${vo2}">
            <h3 th:text="${vo2.c2Name}"></h3>
            <ul class="faq-list">
              <th:block th:each="vo: ${vo}" th:if="${vo.cate1 eq vo2.cate1 and vo.cate2 eq vo2.cate2}">
                 <li class="faq-arts">
                  <a th:href="@{/cs/faq/view(no=${vo.no},cate1=${vo.cate1})}">
                    <span>Q.</span>
                    [[${vo.title}]]
                  </a>
                 </li>
           </th:block>
           		  <li th:if="${count == 0}"><a>등록된 게시물이 없습니다.</a></li>
       	  		</th:block>
            <li class="more"><a href="#">더보기</a></li>
          </ul>
        </div>
	   </th:block>
      </article>
    </section>
  </div>
</section>
<th:block th:insert="~{@{cs/_footer.html}}"/>