<ul class="category">     
    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
    <li>
        <a href="#"><i class="fas fa-tshirt" aria-hidden="true"></i>패션·의류·뷰티</a>
        <ol>
            <li><a href="#">남성의류</a></li>
            <li><a href="#">여성의류</a></li>
            <li><a href="#">잡화</a></li>
            <li><a href="#">뷰티</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-laptop" aria-hidden="true"></i>가전·디지털</a>
        <ol>
            <li><a href="#">노트북/PC</a></li>
            <li><a href="#">가전</a></li>
            <li><a href="#">휴대폰</a></li>
            <li><a href="#">기타</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-utensils" aria-hidden="true"></i>식품·생필품</a>
        <ol>
            <li><a href="#">신선식품</a></li>
            <li><a href="#">가공식품</a></li>
            <li><a href="#">건강식품</a></li>
            <li><a href="#">생필품</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-home" aria-hidden="true"></i>홈·문구·취미</a>
        <ol>
            <li><a href="#">가구/DIY</a></li>
            <li><a href="#">침구·커튼</a></li>
            <li><a href="#">생활용품</a></li>
            <li><a href="#">사무용품</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-laptop" aria-hidden="true"></i>컴퓨터·디지털·가전</a>
        <ol>
            <li><a href="#">휘트니스/수영</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-heart" aria-hidden="true"></i>스포츠·건강·렌탈</a>
        <ol>
          <li><a href="#">휘트니스/수영</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-car" aria-hidden="true"></i>자동차·공구</a>
        <ol>
          <li><a href="#">휘트니스/수영</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-book" aria-hidden="true"></i>여행·도서·티켓·e쿠폰</a>
        <ol>
          <li><a href="#">휘트니스/수영</a></li>
        </ol>
    </li>
</ul>