<ul class="category">     
    <li><i class="fa fa-bars" aria-hidden="true"></i>카테고리</li>
    <li>
        <a href="#"><i class="fas fa-tshirt" aria-hidden="true"></i>패션·의류·뷰티</a>
        <ol>
            <li><a th:href="@{/product/list(cate1=10, cate2=10)}">여성의류</a></li>
            <li><a th:href="@{/product/list(cate1=11, cate2=11)}">남성의류</a></li>
            <li><a th:href="@{/product/list(cate1=11, cate2=13)}">신발</a></li>
            <li><a th:href="@{/product/list(cate1=11, cate2=14)}">가방/잡화</a></li>
            <li><a th:href="@{/product/list(cate1=11, cate2=15)}">쥬얼리/시계</a></li>
            <li><a th:href="@{/product/list(cate1=11, cate2=16)}">화장품/향수</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-laptop" aria-hidden="true"></i>가전·디지털·공구</a>
        <ol>
            <li><a th:href="@{/product/list(cate1=15, cate2=10)}">노트북/PC</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=11)}">모니터/프린터</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=12)}">PC주변기기</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=14)}">카메라</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=15)}">영상가전</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=17)}">주방가전</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=18)}">계절가전</a></li>
            <li><a th:href="@{/product/list(cate1=15, cate2=20)}">음향가전</a></li>
            <li><a th:href="@{/product/list(cate1=17, cate2=11)}">공구/안전/산업용품</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-utensils" aria-hidden="true"></i>식품·생필품</a>
        <ol>
            <li><a th:href="@{/product/list(cate1=13, cate2=10)}">신선식품</a></li>
            <li><a th:href="@{/product/list(cate1=13, cate2=11)}">가공식품</a></li>
            <li><a th:href="@{/product/list(cate1=13, cate2=12)}">건강식품</a></li>
            <li><a th:href="@{/product/list(cate1=13, cate2=13)}">커피/음료</a></li>
            <li><a th:href="@{/product/list(cate1=13, cate2=14)}">생필품</a></li>
            <li><a th:href="@{/product/list(cate1=14, cate2=11)}">침구/커튼</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-home" aria-hidden="true"></i>홈·문구·취미</a>
        <ol>
            <li><a th:href="@{/product/list(cate1=14, cate2=10)}">가구/DIY</a></li>
            <li><a th:href="@{/product/list(cate1=14, cate2=17)}">악기/취미</a></li>
            <li><a th:href="@{/product/list(cate1=16, cate2=11)}">휘트니스/수영</a></li>
            <li><a th:href="@{/product/list(cate1=16, cate2=15)}">캠핑/낚시</a></li>
            <li><a th:href="@{/product/list(cate1=16, cate2=16)}">등산/아웃도어</a></li>
            <li><a th:href="@{/product/list(cate1=18, cate2=11)}">도서/음반/e교육</a></li>
            <li><a th:href="@{/product/list(cate1=18, cate2=14)}">상품권</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-laptop" aria-hidden="true"></i>컴퓨터·디지털·가전</a>
        <ol>
            <li><a th:href="@{/product/list(cate1=16, cate2=11)}">휘트니스/수영</a></li>
            <li><a th:href="@{/product/list(cate1=16, cate2=15)}">캠핑/낚시</a></li>
            <li><a th:href="@{/product/list(cate1=16, cate2=16)}">등산/아웃도어</a></li>
            <li><a th:href="@{/product/list(cate1=18, cate2=11)}">도서/음반/e교육</a></li>
            <li><a th:href="@{/product/list(cate1=18, cate2=14)}">상품권</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-heart" aria-hidden="true"></i>스포츠·건강·렌탈</a>
        <ol>
          <li><a th:href="@{/product/list(cate1=16, cate2=11)}">휘트니스/수영</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=15)}">캠핑/낚시</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=16)}">등산/아웃도어</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=11)}">도서/음반/e교육</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=14)}">상품권</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-car" aria-hidden="true"></i>자동차·공구</a>
        <ol>
          <li><a th:href="@{/product/list(cate1=16, cate2=11)}">휘트니스/수영</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=15)}">캠핑/낚시</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=16)}">등산/아웃도어</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=11)}">도서/음반/e교육</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=14)}">상품권</a></li>
        </ol>
    </li>
    <li>
        <a href="#"><i class="fas fa-book" aria-hidden="true"></i>여행·도서·티켓·e쿠폰</a>
        <ol>
          <li><a th:href="@{/product/list(cate1=16, cate2=11)}">휘트니스/수영</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=15)}">캠핑/낚시</a></li>
          <li><a th:href="@{/product/list(cate1=16, cate2=16)}">등산/아웃도어</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=11)}">도서/음반/e교육</a></li>
          <li><a th:href="@{/product/list(cate1=18, cate2=14)}">상품권</a></li>
        </ol>
    </li>
</ul>