<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8">
	<title>케이마켓::대한민국 1등 온라인 쇼핑몰</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
	<link rel="shortcut icon" type="image/x-icon" th:href="@{/images/main/favicon.ico}">
	<script type="text/javascript" th:src="@{/js/main/main.js}"></script>
	<link rel="stylesheet" th:href="@{/css/main/init.css}">
	<link rel="stylesheet" th:href="@{/css/main/headfoot.css}">
	<link rel="stylesheet" th:href="@{/css/main/category.css}">
	<link rel="stylesheet" th:href="@{/css/main/main.css}">
	<link rel="stylesheet" th:href="@{/css/product/product.css}">
	
	<script>
		$(document).ready(function(){
			
			$('.slider > ul').bxSlider({
				auto: true,		// 자동회전
				pause: 4000,	// 4초마다 페이지 넘김
				easing:'linear',
				speed: 500,		// 이동속도
				maxSlides: 5	// 최대 노출 개수
			});
			
			// 상단 이동
			$('#top').click(function(){
				$(window).scrollTop(0);
			});
			
			// 스크롤 시 사이드 따라오기
			var best = $("aside > .best");
			$(window).scroll(function(){
				var t = $(this).scrollTop();
				
				if(t > 620){		// 620 : top 에서 아래까지 620
					best.css({
						position:"fixed",
						top:"50px",
					});
				}else{
					best.css({
						position:"static",
					});
				}
			});
			
			// 스크롤 시 menu 따라오기
			var menu = $(".menu");
			$(window).scroll(function(){
				var t = $(this).scrollTop();
				
				if(t > 620){	// 620 : top 에서 아래까지 620
					menu.css({
						position:"fixed",
						top:"0",
					});
				}else{
					menu.css({
						position:"static",
					});
				}
			});
		
			// 스크롤 이동
			$('.scrollBtnHit').on('click', function(e){
				e.preventDefault();		
				// a 태그나 submit 태그는 누르게 되면 href 를 통해 이동하거나 창이 새로고침하여 실행되지만, preventDefault 를 통해 새로고침을 정지시켜줌
				let location = document.querySelector(".hit").offsetTop;
				
				window.scrollTo({top:location, behavior:'smooth'});
				
			});
			
			$('.scrollBtnScore').on('click', function(e){
				e.preventDefault();
				let location = document.querySelector(".recommend").offsetTop;
				
				window.scrollTo({top:location, behavior:'smooth'});
				
			});
			
			$('.scrollBtnNew').on('click', function(e){
				e.preventDefault();
				let location = document.querySelector(".new").offsetTop;
				
				window.scrollTo({top:location, behavior:'smooth'});
				
			});
			
			$('.scrollBtnDiscount').on('click', function(e){
				e.preventDefault();
				let location = document.querySelector(".discount").offsetTop;
				
				window.scrollTo({top:location, behavior:'smooth'});
				
			});
			
		});
			
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <div class="top">
                <div>
               		<!-- 비로그인 사용자가 보이는 블럭 -->
                	<p sec:authorize="isAnonymous()">
	                    <a th:href="@{/member/login}">로그인</a>
	                    <a th:href="@{/member/join}">회원가입</a>
	                    <a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
	            	</p>
	            	<!-- 권한이 1인(일반회원) 사용자가 보이는 블럭 -->
                	<p sec:authorize="hasRole('1')">
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a th:href="@{/my/home}">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
                	<!-- 권한이 3인(관리자) 사람만 보이는 블럭 -->
                	<p sec:authorize="hasRole('3')">
                		<a th:href="@{/admin/index}" class="logout">관리자</a>
                		<a th:href="@{/member/logout}" class="logout">로그아웃</a>
                		<a href="#">마이페이지</a>
                		<a th:href="@{/product/cart}"><i class="fa fa-shopping-cart" aria-hidden="true"></i>&nbsp;장바구니</a>
                	</p>
	            </div>
            </div>
            <div class="logo">
                <div>
                    <a th:href="@{/}"><img th:src="@{/images/main/header_logo.png}" alt="로고"></a>
                    <form action="#">
                        <input type="text" name="keyword">
                        <button><i class="fa fa-search" aria-hidden="true"></i></button>
                    </form>                
                </div>
            </div>
            <div class="menu">
                <div>
                    <ul>
                        <li><a href="#" class="scrollBtnHit">히트상품</a></li>
                        <li><a href="#" class="scrollBtnScore">추천상품</a></li>
                        <li><a href="#" class="scrollBtnNew">최신상품</a></li>
                        <li><a href="#" class="scrollBtnDiscount">할인상품</a></li>
                    </ul>
                    <ul>
                        <li><a th:href="@{/cs/notice/list}">공지사항</a></li>
                        <li><a th:href="@{/cs/faq/list}">자주묻는질문</a></li>
                        <li><a th:href="@{/cs/qna/list}">문의하기</a></li>
                        <li><a th:href="@{/cs/index}">고객센터</a></li>
                    </ul>
                </div>
            </div>
        </header>