<!--
날짜 : 2023/02/09
이름 : 강중현
내용 : Kmarket2 SpringBoot index
-->
<th:block th:insert="~{@{_header.html}}"/>

		<main>
			<!-- 카테고리/베스트 상품 영역 -->
			<aside>
				<th:block th:insert="~{@{_cate.html}}"/>
				<!-- 베스트상품 배너 -->
				<article class="best">
					<h1><i class="fas fa-crown"></i>베스트상품</h1>
					<ol>
						<th:block th:each="sold:${solds}">
							<li>
								<a th:href="@{/product/view(cate1=${sold.cate1}, cate2=${sold.cate2}, no=${sold.prodNo})}">
									<div class="thumb">
										<i th:text="${soldStat.count}"></i>
										<img th:src="@{/file/productImg/}+${sold.thumb1}" alt="item1"/>
									</div>
									<h2>[[${sold.prodName}]]</h2>
									<div class="org_price">
										<th:block th:if="${sold.discount != 0}">
											<del class="org-price" data-th-text="${#numbers.formatInteger(sold.price, 3, 'COMMA')}">[[${sold.price}]]</del>
											<span>[[${sold.discount}]]%</span>
										</th:block>
									</div>
									<div class="dis_price">
										<th:block th:if="${sold.discount == 0}">
											<ins class="dis-price" data-th-text="${#numbers.formatInteger(sold.price, 3, 'COMMA')}">[[${sold.price}]]</ins>
										</th:block>
										<th:block th:if="${sold.discount != 0}">
											<ins class="dis-price" data-th-text="${#numbers.formatInteger(sold.price*(100-sold.discount)/100, 3, 'COMMA')}"></ins>
										</th:block>
										<th:block th:if="${sold.delivery == 0}">
											<span class="free">무료배송</span>
										</th:block>
									</div>
								</a>
							</li>
						</block>
					</ol>
				</article>
			</aside>
			<section>
				<!-- 슬라이더 영역 -->
				<section class="slider">
					<ul>
						<li><a href="#"><img th:src="@{/images/main/slider_item1.jpg}" alt="item1"/></a></li>
						<li><a href="#"><img th:src="@{/images/main/slider_item2.jpg}" alt="item2"/></a></li>
						<li><a href="#"><img th:src="@{/images/main/slider_item3.jpg}" alt="item3"/></a></li>
						<li><a href="#"><img th:src="@{/images/main/slider_item4.jpg}" alt="item4"/></a></li>
						<li><a href="#"><img th:src="@{/images/main/slider_item5.jpg}" alt="item5"/></a></li>
					</ul>
				</section>
				<!-- 히트상품 영역 -->
				<section class="hit">
					<h3><span>히트상품</span></h3>
					<th:block th:each="hit:${hits}">
						<article>
							<a th:href="@{/product/view(cate1=${hit.cate1}, cate2=${hit.cate2}, no=${hit.prodNo})}">
								<div class="thumb">
									<img th:src="@{/file/productImg/}+${hit.thumb1}" alt="t1"/>
								</div>
								<h2>[[${hit.prodName}]]</h2>
								<p>[[${hit.descript}]]</p>
								<div class="org_price">
									<th:block th:if="${hit.discount != 0}">
										<del class="org-price" data-th-text="${#numbers.formatInteger(hit.price, 3, 'COMMA')}">[[${hit.price}]]</del>
										<span>[[${hit.discount}]]%</span>
									</th:block>
								</div>
								<div class="dis_price">
									<th:block th:if="${hit.discount == 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(hit.price, 3, 'COMMA')}">[[${hit.price}]]</ins>
									</th:block>
									<th:block th:if="${hit.discount != 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(hit.price*(100-hit.discount)/100, 3, 'COMMA')}"></ins>
									</th:block>
									<th:block th:if="${hit.delivery == 0}">
										<span class="free">무료배송</span>
									</th:block>
								</div>
							</a>
						</article>
					</th:block>
				</section>
				<!-- 추천상품 영역 -->
				<section class="recommend">
					<h3><span>추천상품</span></h3>
					<th:block th:each="score : ${scores}">
						<article>
							<a th:href="@{/product/view(cate1=${score.cate1}, cate2=${score.cate2}, no=${score.prodNo})}">
								<div class="thumb">
									<img th:src="@{/file/productImg/}+${score.thumb1}" alt="t1"/>
								</div>
									<h2>[[${score.prodName}]]</h2>
									<p>[[${score.descript}]]</p>
								<div class="org_price">
									<th:block th:if="${score.discount != 0}">
										<del class="org-price" data-th-text="${#numbers.formatInteger(score.price, 3, 'COMMA')}">[[${score.price}]]</del>
										<span>[[${score.discount}]]%</span>
									</th:block>
								</div>
								<div class="dis_price">
									<th:block th:if="${score.discount == 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(score.price, 3, 'COMMA')}">[[${score.price}]]</ins>
									</th:block>
									<th:block th:if="${score.discount != 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(score.price*(100-score.discount)/100, 3, 'COMMA')}"></ins>
									</th:block>
									<th:block th:if="${score.delivery == 0}">
										<span class="free">무료배송</span>
									</th:block>
								</div>
							</a>
						</article>
					</th:block>
				</section>
				<!-- 최신상품 영역 -->
				<section class="new">
					<h3><span>최신상품</span></h3>
					<article th:each="i : ${news}">
						<a th:href="@{/product/view(cate1=${i.cate1}, cate2=${i.cate2}, no=${i.prodNo})}">
							<div class="thumb">
								<img th:src="@{/file/productImg/}+${i.thumb1}" alt="t1"/>
							</div>
								<h2 th:text="${i.prodName}"></h2>
								<p>[[${i.descript}]]</p>
							<div class="org_price">
								<th:block th:if="${i.discount != 0}">
									<del class="org-price" data-th-text="${#numbers.formatInteger(i.price, 3, 'COMMA')}">[[${i.price}]]</del>
									<span>[[${i.discount}]]%</span>
								</th:block>
							</div>
							<div class="dis_price">
								<th:block th:if="${i.discount == 0}">
									<ins class="dis-price" data-th-text="${#numbers.formatInteger(i.price, 3, 'COMMA')}">[[${i.price}]]</ins>
								</th:block>
								<th:block th:if="${i.discount != 0}">
									<ins class="dis-price" data-th-text="${#numbers.formatInteger(i.price*(100-i.discount)/100, 3, 'COMMA')}"></ins>
								</th:block>
								<th:block th:if="${i.delivery == 0}">
									<span class="free">무료배송</span>
								</th:block>
							</div>
						</a>
					</article>
				</section>
				<!-- 할인상품 영역 -->
				<section class="discount">
					<h3><span>할인상품</span></h3>
					 <th:block th:each="discount:${discounts}">
						<article>
							<a th:href="@{/product/view(cate1=${discount.cate1}, cate2=${discount.cate2}, no=${discount.prodNo})}">
								<div class="thumb">
									<img th:src="@{/file/productImg/}+${discount.thumb1}" alt="t1"/>
								</div>
								<h2>[[${discount.prodName}]]</h2>
									<p>[[${discount.descript}]]</p>
								<div class="org_price">
									<th:block th:if="${discount.discount != 0}">
										<del class="org-price" data-th-text="${#numbers.formatInteger(discount.price, 3, 'COMMA')}">[[${discount.price}]]</del>
										<span>[[${discount.discount}]]%</span>
									</th:block>
								</div>
								<div class="dis_price">
									<th:block th:if="${discount.discount == 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(discount.price, 0, 'COMMA')}">[[${discount.price}]]</ins>
									</th:block>
									<th:block th:if="${discount.discount != 0}">
										<ins class="dis-price" data-th-text="${#numbers.formatInteger(discount.price*(100-discount.discount)/100, 0, 'COMMA')}"></ins>
									</th:block>
									<th:block th:if="${discount.delivery == 0}">
										<span class="free">무료배송</span>
									</th:block>
								</div>
							</a>
						</article>
					</th:block>
				</section>
			</section>
		</main>
<th:block th:insert="~{@{_footer.html}}"/>
