<!--k
날짜 : 2023/02/10
이름 : 최아영
내용 : Kmarket2 STS cs qna list
-->
<th:block th:insert="~{@{cs/_header.html}}"/>
  <section id="cs">
    <div class="qna">
      <nav>
        <div>
          <p>홈<span>></span>문의하기</p>
        </div>
      </nav>
      <section class="list">
        <aside>
          <h2>문의하기</h2>
          <ul>
           	 <li th:classappend="${cate1} == '10' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=10}">회원</a></li>
             <li th:classappend="${cate1} == '11' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=11}">쿠폰/이벤트</a></li>
             <li th:classappend="${cate1} == '12' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=12}">주문/결제</a></li>
             <li th:classappend="${cate1} == '13' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=13}">배송</a></li>
             <li th:classappend="${cate1} == '14' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=14}">취소/반품/교환</a></li>
             <li th:classappend="${cate1} == '15' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=15}">여행/숙박/항공</a></li>
             <li th:classappend="${cate1} == '16' ? 'on' : 'off'"><a th:href="@{/cs/qna/list?cate1=16}">안전거래</a></li>
          </ul>
        </aside>
        <article>
          <nav>
            <h1 th:text="${ccv.c1Name}"></h1>
            <h2>[[${ccv.c1Name}]] 문의 내용입니다.</h2>
          </nav>
         <table>
            <tr th:each="cate1s:${cate1s}">
              <td><a th:href="@{/cs/qna/view(cate1=${cate1},no=${cate1s.no})}" th:text="${'['+cate1s.c2Name+'] '+cate1s.title}"></a></td>
              <td th:if="${cate1s.comment} eq null" class="answerIng">검토중</td>
              <td th:unless="${cate1s.comment} eq null" class="answerComplete">답변완료</td>
              <td>[[${(cate1s.uid).substring(0, 4)}]]**</td>
              <td>[[${(cate1s.rdate).substring(2, 10)}]]</td>
            </tr>
          </table>

          <div class="page">
            <th:block th:if="${groups[0] > 1}">
                <a th:href="@{/cs/qna/list(cate1=${cate1},pg=${groups[0]- 1})}" class="prev">이전</a>
            </th:block>
            <th:block th:each="num:${#numbers.sequence(groups[0], groups[1])}">
                <a th:href="@{/cs/qna/list(cate1=${cate1},pg=${num})}" th:class="${num == currentPage ? 'num current' : 'num'}">[[${num}]]</a>
            </th:block>
            <th:block th:if="${groups[1] < lastPage}">
                <a th:href="@{/cs/qna/list(cate1=${cate1},pg=${groups[1] + 1})}" class="next">다음</a>
            </th:block>
          </div>

          <a th:href="@{/cs/qna/write(cate1=${cate1})}" class="btnWrite">문의하기</a>

        </article>
      </section>
    </div>
  </section>
<th:block th:insert="~{@{cs/_footer.html}}"/>