main > aside {
    float: left;
    width: 215px;
    height: 100%;
}
main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
}
main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;  
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
}
main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
}
 main > aside > .category > li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;  
    text-decoration: none;
    font-size: 1em;
}
main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
}
  
main > aside > .category > li > a:hover + ol {
    display: block;
}
main > aside > .category ol:hover {
    display: block;
}
  
main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
}
  
main > aside > .category > li i.fa-angle-right {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
}
  
main > aside > .category ol {
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
}
  
main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
}
main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
}
  