/* main */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

main > aside {
    float: left;
    width: 215px;
    height: 100%;
  }
  main > aside > .category {
    position: relative;
    width: 100%;
    height: 425px;
    background: #333949;
  }
  main > aside > .category > li {
    width: 100%;
    height: 40px;
    line-height: 40px;
    color: #ccc;
    font-size: 13px;  
    border-bottom: 1px solid #2b313f;
    box-sizing: border-box;
  }
  main > aside > .category > li:first-child {
    padding: 0 20px;
    color: #fff;
    line-height: 40px;
  }
  main > aside > .category > li > a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    color: #ccc;  
    text-decoration: none;
    font-size: 1em;
  }
  main > aside > .category > li > a:hover {
    background: #2b313f;
    color: #fff;
  }
  
  
  main > aside > .category > li > a:hover + ol {
    display: block;
  }
  
  main > aside > .category ol:hover {
    display: block;
  }
  
  main > aside > .category i {
    width: 22px;
    font-size: 16px;
    margin-right: 12px;
  }
  
  main > aside > .category > li i.fa-angle-right {
    float: right;
    width: auto;
    margin-top: 10px;
    margin-right: 0;
  }
  
  main > aside > .category ol {
    position: absolute;
    left: 215px;
    top: 0;
    display: none;
    width: 215px;
    height: 100%;
    border: 1px solid #787f89;
    background: #fff;
    box-sizing: border-box;
    z-index: 10000;
  }
  
  main > aside > .category ol > li {
    width: 100%;
    height: 24px;
    padding: 10px;
    box-sizing: border-box;
  }
  main > aside > .category ol > li > a:hover {
    color: #41ab47;
    text-decoration: underline;
  }
  
  
  main > aside > .best {
    width: 215px;
    height: auto;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    box-shadow: 0 0 5px rgba(55, 55, 5, 0.2);
  }
  
  main > aside > .best > h1 {
    font-size: 14px;
    font-weight: bold;
    color: #111;
    margin: 6px;
  }
  main > aside > .best > h1 > i {
    margin-right: 6px;
    font-size: 18px;
  }
  
  main > aside > .best > ol {
    width: 100%;
  }
  main > aside > .best > ol > li {
    width: 100%;
    height: 100%;
    padding: 0 6px;
    box-sizing: border-box;
    margin-bottom: 16px;
  }
  
  main > aside > .best > ol > li > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
  main > aside > .best > ol > li > a:hover h2 {
    text-decoration: underline;
  }
  main > aside > .best > ol > li > a > .thumb {
    float: left;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  main > aside > .best > ol > li:first-child > a > .thumb {
    position: relative;
    float: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0 auto;
  }
  main > aside > .best > ol > li > a > .thumb > i {
    position: absolute;
    left: 0;
    top: 0;
    display: inline-block;
    width: 16px;
    height: 20px;
    font-size: 14px;
    padding: 0;
    color: #ef3e42;
    border-bottom: 1px solid #ef3e42;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    line-height: 18px;
  }
  main > aside > .best > ol > li:first-child > a > .thumb > i {
    width: 35px;
    height: 26px;
  }
  
  main > aside > .best > ol > li > a > .thumb > img {
    width: 100%;
  }
  
  main > aside > .best > ol > li > a > article {
    float: left;
    width: 148px;
    padding-left: 6px;
    box-sizing: border-box;
  }
  
  main > aside > .best > ol > li > a h2 {
    margin-top: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  main > aside > .best > ol > li > a .org_price {
  }
  main > aside > .best > ol > li > a .org_price > del::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .org_price > ins::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .org_price > del {
    font-size: 10px;
    color: #aaa;
  }
  main > aside > .best > ol > li > a .org_price > span {
    color: #eb000a;
    font-size: 10px;
  }
  main > aside > .best > ol > li > a .org_price > span::after {
    content: "↓";
  }
  main > aside > .best > ol > li > a .dis_price {
  }
  main > aside > .best > ol > li > a .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
  }
  main > aside > .best > ol > li > a .dis_price > ins::after {
    content: "원";
  }
  main > aside > .best > ol > li > a .dis_price > span {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url("/Kmarket2/images/main/ico_freeshipping.gif") no-repeat;
  }
  

  main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
  }
  
  main > section > section {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  main > section > section > article {
    float: left;
    width: 25%;
    height: 345px;
  }
  main > section > section > h3 > span {
    display: inline-block;
    margin: 10px;
    border-bottom: 2px solid #111;
    font-weight: bold;
    font-size: 16px;
  }
  main > section > section > article > a {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  main > section > section > article .thumb {
    width: 100%;
    height: 230px;
    margin: 0px auto;
    overflow: hidden;
    text-align: center;
  }
  main > section > section > article .thumb > img{
	  width: 100%;
	  background-size: cover;
  }
  
  main > section > section > article h2 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 4px;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  main > section > section > article p {
    color: #222;
    font-size: 12px;
    line-height: 16px;
    margin: 4px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  main > section > section > article > a:hover > p {
    text-decoration: underline;
  }
  
  main > section > section > article del::after {
    content: "원";
  }
  main > section > section > article ins::after {
    content: "원";
  }
  main > section > section > article .org_price > del {
    color: #aaa;
  }
  main > section > section > article .org_price > span {
    color: #eb000a;
  }
  main > section > section > article .org_price > span::after {
    content: "↓";
  }
  main > section > section > article .dis_price {
    margin-top: 4px;
  }
  main > section > section > article .dis_price > ins {
    font-size: 14px;
    text-decoration: none;
  }
  main > section > section > article .dis_price > .free {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url("/Kmarket2/images/main/ico_freeshipping.gif") no-repeat;
  }
  

  main > section > .slider {
    width: 100%;
    height: 425px;
    overflow: hidden;
  }
  main > section > .slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
  }
  
  main > section > .hit {
  }
  main > section > .recommend {
  }
  main > section > .new {
  }
  main > section > .discount {
  }
  
  