<!--
날짜 : 2023/02/10
이름 : 최아영
내용 : Kmarket2 STS cs index
-->
<th:block th:insert="~{@{cs/_header.html}}"/>
	<section id="cs">
	  <div class="main">
	    <h1 class="title"><strong>케이마켓</strong>이 도와드릴게요!</h1>              
	    <section class="notice">
	      <h1>공지사항<a th:href="@{/cs/notice/list}">전체보기</a></h1>
	      <ul>
	       <th:block th:each="cl1:${CsNoticeList}">
	        <li>
             <a th:href="@{/cs/notice/view(cate=${cl1.cate1},no=${cl1.no})}" class="title">[[${cl1.title}]]</a>
             <span class="date" th:text="${#strings.substring(cl1.rdate, 2, 10)}"></span>
            </li>
            </th:block>
	      </ul>
	    </section>
	  
	    <section class="faq">
	      <h1>자주 묻는 질문<a th:href="@{/cs/faq/list}">전체보기</a>
	      </h1>
	      <ol>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=10}"><span>회원</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=11}"><span>쿠폰/이벤트</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=12}"><span>주문/결제</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=13}"><span>배송</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=14}"><span>취소/반품/교환</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=15}"><span>여행/숙박/항공</span></a>
	        </li>
	        <li>
	          <a th:href="@{/cs/faq/list?cate1=16}"><span>안전거래</span></a>
	        </li>
	      </ol>
	    </section>
	  
	    <section class="qna">
	      <h1>
	        문의하기
	        <a th:href="@{/cs/qna/list(cate1=10)}">전체보기</a>
	      </h1>
	      <ul>
	      	<th:block th:each="cl2:${CsQnaList}">
	        <li>
	         <a th:href="@{/cs/qna/view(cate1=${cl2.cate1},no=${cl2.no})}" th:text="${'['+cl2.c2Name+'] '+cl2.title}"class="title"></a>
                <p>
                    <span class="uid">[[${#strings.substring(cl2.uid, 0, 4)}]]<th:block th:begin="5" end="${fn:length(cl2.uid)}" step="1">*</th:block></span>
                    <span class="date">[[${#strings.substring(cl2.rdate, 2, 10)}]]</span>
                </p>
             </li>
             </th:block>
	      </ul>
	      <a th:href="@{/cs/qna/write(cate1=10)}" class="ask">문의글 작성 ></a>
	    </section>
	
	    <section class="tel">
	      <h1>
	        1:1 상담이 필요하신가요?
	      </h1>
	
	      <article>
	        <div>
	          <h3>고객센터 이용안내</h3>
	          <p>
	            <span>일반회원/비회원</span><br>
	            <strong>1566-0001</strong><span>(평일 09:00 ~ 18:00)</span>
	          </p>
	          <p>
	            <span>스마일클럽 전용</span><br>
	            <strong>1566-0002</strong><span>(365일 09:00 ~ 18:00)</span>
	          </p>
	        </div>
	      </article>
	      <article>
	        <div>
	          <h3>판매상담 이용안내</h3>
	          <p>
	            <span>판매고객</span><br>
	            <strong>1566-5700</strong><span>(평일 09:00 ~ 18:00)</span>
	          </p>
	          <p>
	          <a th:href="@{/member/join}">판매자 가입 및 서류 접수 안내 〉</a>
	        </p>                
              </div>
            </article>

          </section>
        
      </section>
<th:block th:insert="~{@{cs/_footer.html}}"/>